<h5>Portamento</h5>
<mat-slider [(ngModel)]="synth.portamento" #portamentoSlider min="0" max="3" step="0.01" value="0" id="portamento">
</mat-slider>
{{portamentoSlider.value}}

<h5>Volume</h5>
<mat-slider  [(ngModel)]="synth.volume.value" #volumeSlider  min="-10" max="10" step="0.1" value="0s" id="volume">
</mat-slider>
{{volumeSlider.value.toPrecision(2)}}

<mat-form-field>
  <mat-label>Waveform</mat-label>
  <mat-select [formControl]="oscillatorType" (selectionChange)="changeOscillatorType()">
    <mat-option *ngFor="let type of oscillatorTypeList" [value]="type.name">
      {{type.listName}}
    </mat-option>
  </mat-select>
</mat-form-field>

