<mat-card>
  <mat-form-field>
    <mat-label>Inputs</mat-label>
    <mat-select [formControl]="inputs" multiple (selectionChange)="changeInputs()">
      <mat-option *ngFor="let input of inputList" [value]="input._midiInput.name">
        {{input._midiInput.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Outputs</mat-label>
    <mat-select [formControl]="outputs" multiple (selectionChange)="changeOutputs()">
      <mat-option *ngFor="let output of outputList" [value]="output._midiOutput.name">
        {{output._midiOutput.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button mat-button (click)="refresh()">
    Refresh
  </button>

</mat-card>
<mat-card>
  <app-sequencer></app-sequencer>
</mat-card>
<mat-card>
  <h4>Synths</h4>
  <app-polysynth [notesOn]="noteOnSubject.asObservable()"
             [notesOff]="noteOffSubject.asObservable()"></app-polysynth>
</mat-card>



